%h2 New Profile
= form_for :player_profile, url: player_profiles_path do |f|
  %p
    = f.label :batting_power
    %br/
    = f.text_field :batting_power
  %p
    = f.label :batting_contact
    %br/
    = f.text_field :batting_contact
  %p
    = f.label :pitching
    %br/
    = f.text_field :pitching
  %p
    = f.submit
